.content {
  height: 100vh;
  display: inline-block;
  background-color: #cdcdcd;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  padding: 15px;
  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}