.dashboard {
  display: grid;
  grid:
    "header header " 50px
    "nav main " / 170px 1fr;
  width: 100%;
  height: 100vh;
}

.dashboard header {
  grid-area: header;
}

.dashboard nav {
  grid-area: nav;
}
