.displayedNav {
  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      a {
        text-decoration: none;
        font-size: 1.5em;
      }
    }
    li:hover {
      background-color: #dfdfdf;
    }
    .itemNavHead {
      border-left: 8px solid #c2c2c2;
      height: 128px;
      align-content: center;
      a{
        display: flex;
        flex-direction: row;
        text-decoration: none;
        align-items: center;
        padding-left: 11px;
      img{
        background-color: rgb(183, 183, 183);
        width: 60px;
        aspect-ratio: 1/1;
        border-radius: 50%;
      }
      div{
        font-size: 20px;
        display: grid;
        margin-left: 10px;
        width: 180px;
        p{
          color: #00998789;
          font-family: istok-web, sans-serif;
          display: inline;
        }
        h3{
          color: #009987;
          font-family: istok-web, sans-serif;
          display: inline-flex;

        }
      }
      }
      
    }
    .itemNav {
      border-left: 8px solid #01b19d;
      a {
        display: flex;
        flex-direction: row;
        p {
          font-size: 20px;
          align-content: center;
          color: #009987;
          font-family: istok-web, sans-serif;
        }
        img {
          margin-left: 8px;
          margin-right: 8px;
          
        }
      }
    }
  }
}

.foldedNav {
  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      a {
        text-decoration: none;
      }
    }
    li:hover {
      background-color: #dfdfdf;
    }
    .itemNavHead {
      border-left: 8px solid  #c2c2c2;
      width: 57px;
      height: 57px;
      align-content: center;
      padding-left: 5px;
      img{
        background-color: rgb(183, 183, 183);
        width: 40px;
        aspect-ratio: 1/1;
        border-radius: 50%;
      }
    }
    .itemNav {
      border-left: 8px solid #01b19d;
      padding-left: 9px;
    }
  }
}
